@font-face {
    font-family: IRANYekan;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/iranyekanwebbold.ttf') format('truetype');
}
:root {
  --color-primary: #DE2D26;
  --color-bg-gray: #f5f5f5;
  --color-bg-white: #ffffff;
  --color-text-dark: #1E1B1B;
  --color-text-label: #666464;
  --color-border: rgba(219, 219, 219, 0.4);
  --color-box-shadow: rgba(0, 0, 0, 0.08);
  --main-font-family: 'IRANYekan';
}
* {
    box-sizing: border-box;
}
body {
    font-family: var(--main-font-family);
    direction: rtl;
    margin: 0;
}
input {
    font-family: var(--main-font-family);
    color: var(--color-text-dark);
    font-size: 14px;
    line-height: 114%;
    padding: 16px 12px;
}
input::placeholder {
    font-family: var(--main-font-family);
    color: var(--color-text-label);
}
.c-app {
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-gray);
}
.c-app__wrapper {
  padding: 32px 16px 48px;
}
@media screen and (min-width: 768px) {
  .c-app__wrapper {
    padding: 116px 24px 264px;
  }
}
.c-app__col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.c-app--image {
    display: block;
    margin-bottom: 32px;
}

.c-form {
    width: 100%;
    max-width: 432px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-white);
    padding: 17px 16px 16px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px var(--color-box-shadow);
    border: 1px solid var(--color-border);
}
.c-form__title {
    margin: 0 0 22px;
    font-size: 18px;
    line-height: 133%;
}
.c-form__label {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 160%;
    margin: 0 0 16px;
    color: var(--color-text-label);
}
.c-form__input {
    display: block;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
    margin-top: 8px;
}
.c-form__btn--submit {
    padding: 16px;
    background-color: var(--color-primary);
    border-radius: 4px;
    font-size: 16px;
    line-height: 100%;
    color: var(--color-bg-white);
    font-weight: bold;
    text-align: center;
    border: 0;
    cursor: pointer;
    transition: all .3s;
}
.c-form__btn--submit:hover {
    background-color: var(--color-text-label);
}